body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-input {
  width: 500px;
  font-size: 35px;
  border: 1px solid #aaa;
  border-radius: 2px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.section {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
  position: relative;
}

h1 {
  text-align: left;
  font-size: 26px;
}

button {
  border: 1px solid #222;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 1px 2px #222;
}

p {
  text-align: left;
  font-size: 16px;
  color: #222;
  margin-left: 20px;
}

span {
  position: absolute;
  right: 0px;
  bottom: 25px;
}

span.green {
  color: rgb(11, 168, 11);
}

span.red {
  color: rgb(194, 3, 45);
}

.result {
  background-color: rgb(10, 0, 97);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 30px;
  padding: 0;
}